@import "tailwindcss";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@theme {
  --font-sans: "Pretendard", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#f5f6f8] text-[#111827] antialiased font-sans;
  }
}

@layer components {
  .input-base {
    @apply w-full px-4 py-2.5 rounded-lg border border-gray-200 bg-white 
           focus:ring-2 focus:ring-black focus:border-transparent 
           transition-all outline-none placeholder:text-gray-400;
  }

  .btn-black {
    @apply w-full bg-[#111827] text-white py-2.5 rounded-lg font-medium 
           hover:bg-black transition-all shadow-sm cursor-pointer;
  }
}